* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

/* MAIN SECTION */

.main {
    display: flex;
    flex-direction: column;
    padding: 16px 10% 64px;
    background-color: #1F2937;
    color: white;
    height: 700px;
}

.header {
    display: flex;
    gap: 8px;
}

#logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
    cursor: pointer;
}

.links {
    display: flex;
    gap: 32px;
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
}

.links li {
    cursor: pointer;
}

.body-main {
    display: flex;
    gap: 32px;
    height: 100%;
    padding: 175px 0px;
}

.body-main > * {
    flex: 1;
} 

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.title-intro {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.body-intro {
    color: #E5E7EB;
    font-size: 18px;
}

.button-intro {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-style: none;
    border-radius: 8px;
    width: 120px;
    cursor: pointer;
}

.image-box {
    border: 1px solid white;
}

.body img {
    max-width: 100%;
}

/* CONTENT SECTION */

.content {
    text-align: center;
    padding: 0px 15% 100px;
}

.content-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 48px;
}

.content-main {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    flex-wrap: wrap;
}

.content-box {
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.content-photo {
    border: 4px solid #3882F6;
    border-radius: 10%;
    display: flex;
    aspect-ratio: 1 / 1;
    width: 100%;
}

.content-text {
    color: #1f2937;
    font-size: 18px;
    margin-top: 8px;
}

/* QUOTE SECTION */

.quote {
    background-color: #e5e7eB;
    padding: 100px 22% 85px;    
}

#quote-body {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

#quote-user {
    font-weight: 900;
    text-align: right;
    margin: 15px 64px;
}

/* CALL TO ACTION SECTION */

.signup {
    display: flex;
    flex-direction: column;
    padding: 64px 15%;
}

.signup-main {
    padding: 32px 15%;
    background-color: #3882F6;
    border-radius: 8px;
    color: white;
    display: flex;
}

.signup-main > * {
    flex: 1;
}

.button-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

#signup-button {
    padding: 16px 32px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

/* temporary borders to visualize */

.pending {
    border: 1px solid blue;
}

/* temporary borders to visualize */
