* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* temporary borders to visualize */

.pending {
    border: 1px solid blue;
}

/* temporary borders to visualize */

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.landing-page {
    display: flex;
    flex-direction: column;
    padding: 16px 10%;
    background-color: #1F2937;
    color: white;
    height: 650px;
}

.header {
    display: flex;
    gap: 8px;
}

#logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.links {
    display: flex;
    gap: 32px;
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
}

.main {
    display: flex;
    gap: 32px;
    height: 100%;
    padding: 175px 0px;
}

.main > * {
    flex: 1;
} 

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.title-intro {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.body-intro {
    color: #E5E7EB;
    font-size: 18px;
}

.button-intro {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-style: none;
    border-radius: 8px;
    width: 120px;
}

.main img {
    max-width: 100%;
}